
<launch>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>
<!--
    <group ns="robot2">
        <param name="robot_description"
            command="$(find xacro)/xacro.py
            $(find diff_robot)/urdf/diff_wheeled_robot.xacro ns:=robot2"/>
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
             args="-urdf -model robot2 -param robot_description -x -1"/>
        
    </group>

    <group ns="robot1">
        <param name="robot_description"
            command="$(find xacro)/xacro.py
            $(find diff_robot)/urdf/diff_wheeled_robot.xacro ns:=robot1"/>
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
             args="-urdf -model robot1 -param robot_description -x 1"/>
    </group>
-->

  <group ns="robot1">
    <param name="tf_prefix" value="robot1" />
    <include file="$(find diff_robot)/launch/multiple_robot/one_robot.launch" >
      <arg name="init_pose" value="-x 1 -y 0 -z 0" />
      <arg name="robot_name"  value="Robot1" />
      
    </include>
    <!-- <remap from="base_scan" to="scan" /> -->
    
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="robot2">
    <param name="tf_prefix" value="robot2" />
    <include file="$(find diff_robot)/launch/multiple_robot/one_robot.launch" >
      <arg name="init_pose" value="-x -1 -y 0 -z 0" />
      <arg name="robot_name"  value="Robot2" />
      
    </include>
    <!-- <remap from="base_scan" to="scan" /> -->
    
  </group>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find diff_robot)/mul_view.rviz" required="true" />
  <!-- <remap from="/robot1/base_scan" to="/scan" />
  <remap from="/robot2/base_scan" to="/scan" /> -->
    
</launch>
